name: Build Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ "created" ]

permissions: write-all

jobs:
  build:
    timeout-minutes: 30
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JDK 18
        uses: actions/setup-java@v5
        with:
          cache: 'gradle'
          java-version: '18'
          distribution: 'temurin'
      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: generate-and-submit
      - name: Build binaries
        run: ./gradlew.bat build createReleaseDistributable packageReleaseMsi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Publish binaries
        uses: actions/upload-artifact@v4
        with:
          name: 'oslp-test-tool'
          path: 'composeApp/build/compose/binaries/main-release/'
      - name: Compress distributable
        if: github.event_name == 'release'
        run: Compress-Archive -Path 'composeApp/build/compose/binaries/main-release/app/oslp-test-tool' -DestinationPath 'composeApp/build/compose/binaries/main-release/oslp-test-tool.zip'
      - name: Upload binaries to release
        if: github.event_name == 'release'
        run: gh release upload ${{github.ref_name}} "composeApp/build/compose/binaries/main-release/msi/*.msi" "composeApp/build/compose/binaries/main-release/oslp-test-tool.zip"
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
